@import "/src/assets/styles/01_global/colors";
@import "/src/assets/styles/01_global/text";

.BlockList {
	.BlockItem {
		align-items: center;
		box-shadow: 1px 0 1px 1px rgba($color: #000000, $alpha: .1);
		border-radius: 4px;
		display: flex;
		flex-flow: column;
		height: 440px;
		overflow: hidden;
		transition: .15s transform;

		.BlockItemComponent {
			border-radius: 0px;
		}
	}

	.BlockItemInfo {
		background-color: $white;
		color: $black;
		display: flex;
		flex-flow: column;
		flex-grow: 1;
		padding: 16px 32px;
		width: 100%;

		h2 {
			font-size: $base-font-size + 2px;
			text-transform: uppercase;
		}

		p {
			font-size: $base-font-size;
		}

		.BlockItemInfo__footer {
			margin-top: auto;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}

		.BlockItemInfo__category {
			letter-spacing: 1px;
			text-transform: uppercase;
			font-size: $base-font-size - 4px;
		}
	}
}

.BlockItemComponent {
	align-items: center;
	border-radius: 4px;
	background-color: $grey3;
	display: flex;
	flex-shrink: 0;
	height: 250px;
	justify-content: center;
	padding: 24px 32px;
	width: 100%;
}
