@import "/src/assets/styles/01_global/colors";
@import "/src/assets/styles/01_global/text";

.BlockList {
	.BlockItem {
		align-items: center;
		background-color: $grey3;
		border-radius: 4px;
		display: flex;
		flex-flow: column;
		height: 440px;
		overflow: hidden;
		transition: .15s transform;

		.BlockItem__component {
			align-items: center;
			display: flex;
			flex-shrink: 0;
			height: 250px;
			padding: 24px 32px;
		}
	}

	.BlockItemInfo {
		background-color: $white;
		color: $black;
		display: flex;
		flex-flow: column;
		flex-grow: 1;
		padding: 16px 32px;
		width: 100%;

		h2 {
			font-size: $base-font-size + 2px;
			text-transform: uppercase;
		}

		p {
			font-size: $base-font-size;
		}

		.BlockItemInfo__footer {
			margin-top: auto;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}

		.BlockItemInfo__category {
			letter-spacing: 1px;
			text-transform: uppercase;
			font-size: $base-font-size - 4px;
		}
	}
}
