/**
 *
 *  ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗
 * ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝
 * ██║     ██║   ██║██║     ██║   ██║██████╔╝███████╗
 * ██║     ██║   ██║██║     ██║   ██║██╔══██╗╚════██║
 * ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████║
 *  ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
 *
 *
 * This sheet contains:
 * * Global color variables
 *
 * This sheet is a part of the Global folder which is not really a part of SMACSS:
 * Global stores variables that can be used all over the document and create a consistency in the style.
*/

$yellow: #fff064;

$orange: #fdaf1d;

$red: #FF3358;

$blue: #59a4ff;

$white: #FFFFFF;

$cyan: #61dafb;

$black: #070707;
$black1: #131313;
$black2: #303033;

$grey: #59595F;
$grey1: #9999A1;
$grey2: #A5A5AD;
$grey3: #d3d3d3;
