@import "/src/assets/styles/01_global/colors";
@import "/src/assets/styles/01_global/text";

.Button {
	border-radius: 4px;
	color: $red;
	font-size: $base-font-size - 4px;
	padding: 6px 28px 6px 0;
	position: relative;
	text-transform: uppercase;

	&::after {
		content: "";
		display: block;
		border-top: 1px solid $red;
		border-right: 1px solid $red;
		height: 12px;
		right: 0;
		top: 50%;
		position: absolute;
		transform: translateY(-50%) translateX(-50%) rotate(45deg);
		transition: .15s transform;
		width: 12px;
	}

	&:hover {
		color: $blue;

		&::after {
			border-color: $blue;
			transform: translateY(-50%) translateX(0%) rotate(45deg);
		}
	}
}
