/**
 *
 * ████████╗██╗   ██╗██████╗  ██████╗  ██████╗ ██████╗  █████╗ ██████╗ ██╗  ██╗██╗   ██╗
 * ╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗██╔════╝ ██╔══██╗██╔══██╗██╔══██╗██║  ██║╚██╗ ██╔╝
 *    ██║    ╚████╔╝ ██████╔╝██║   ██║██║  ███╗██████╔╝███████║██████╔╝███████║ ╚████╔╝
 *    ██║     ╚██╔╝  ██╔═══╝ ██║   ██║██║   ██║██╔══██╗██╔══██║██╔═══╝ ██╔══██║  ╚██╔╝
 *    ██║      ██║   ██║     ╚██████╔╝╚██████╔╝██║  ██║██║  ██║██║     ██║  ██║   ██║
 *    ╚═╝      ╚═╝   ╚═╝      ╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝  ╚═╝   ╚═╝
 *
 *
 * This sheet contains:
 * * Typography changes to tags
 * * Typography tags
 *
 * This sheet is a part of the Base folder and follow the Base rules:
 * A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudo-classes.
 * It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
*/

/**
 * =========================
 *    || Container tags
 * =========================
 */

body {
	font-family: $font-base;
  	color: $white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/**
 * =========================
 *    || Typography tags
 * =========================
 */

h1, h2, h3, h4, h5, h6, p, a, blockquote, cite, pre, label, figcaption  {
	font-weight: inherit;
	word-break: break-word;
}

h1, h2, h3, h4, h5, h6{
	font-family: $font-headings;
	margin-top: 8px;
	margin-bottom: 8px;
	+ p {
		margin-top: 0;
	}
}

h1, h2, h4, h6 {
	font-weight: bold;
}

h2, h4 {
	letter-spacing: .5px;
	font-family: $font-base;
}

h1 {
	letter-spacing: .5px;
	line-height: 1.1em;
	margin-bottom: 24px;
	text-transform: uppercase;
	font-size: $base-font-size + 18px;
	@include tablet-p-up {
		letter-spacing: 1px;
		font-size: $base-font-size + 34px;
	}
}

h2 {
	font-size: $base-font-size + 10px;
	@include tablet-p-up {
		font-size: $base-font-size + 18px;
	}
}

h3 {
	font-size: $base-font-size + 10px;
	@include tablet-p-up {
		font-size: $base-font-size + 18px;
	}
}

h4 {
	font-size: $base-font-size + 10px;
}

h5 {
	font-size: $base-font-size + 10px;
}

h6 {
	font-size: $base-font-size + 2px;
	margin-bottom: 4px;
}

a, blockquote, cite, pre, label, figcaption  {
	margin-top: 8px;
	margin-bottom: 8px;
}


p {
	margin-bottom: 8px;
}

a {
	color: $cyan;
	text-decoration: none;
	cursor: pointer;
	transition: .1s;
	&:hover{
		color: $yellow;
	}
}

small, sub, sup {
	font-size: $base-font-size - 2px;
}

sup {
	vertical-align: top;
}

mark {
	background-color: $yellow;
    color: $black;
}

/**
 * =========================
 *    || Figures tags
 * =========================
 */

figcaption {
	font-size: $base-font-size;
}

/**
 * =========================
 *    || Listings tags
 * =========================
 */

dl, ol, ul, dt, dd, li, tr, th, caption {
	font-family: inherit;
}
