$grid-gap-mobile: 20px;
$grid-gap-desktop: 16px;

.grid {
	display: flex;
	flex-flow: wrap;
	margin: -$grid-gap-mobile / 2;
	width: calc(100% + #{$grid-gap-mobile});

	@include tablet-p-up {
		margin: -$grid-gap-desktop / 2;
		width: calc(100% + #{$grid-gap-desktop});
	}

	&.side-padding {
		padding: 0 $grid-gap-mobile;

		@include tablet-p-up {
			padding: 0 $grid-gap-desktop;
		}
	}

	&.cols-3 {
		.grid__item {
			@include tablet-p-up {
				width: 50%;
			}

			@include tablet-l-up {
				width: 33.33%;
			}
		}
	}

	&.cols-2 {
		.grid__item {
			@include tablet-p-up {
				width: 50%;
			}
		}
	}
}

.grid__item {
	flex-shrink: 0;
	padding: $grid-gap-mobile / 2;
	width: 100%;

	@include tablet-p-up {
		padding: $grid-gap-desktop / 2;
	}

	&.vertical-center {
		align-self: center;
	}
}
